<main1 id="page-top">
    <div id="wrapper">
        {{> sidebar}}
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Panel</a></li>
                    <li class="breadcrumb-item">Ubicaciones</li>
                </ol>

                {{> messaje}}

                <!-- DataTables Example -->
                <div class="container">
                    <div class="row">
                        <span class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fas fa-table"></i>
                                    Lista de Provincias
                                    <a class="btn btn-success float-right" data-toggle="modal" data-target="#province"
                                        href="#">
                                        Ingresar Provincia
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Provincia</th>
                                                    <th>Tareas</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Provincia</th>
                                                    <th>Tareas</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {{#each provinces}}
                                                <tr>
                                                    <td style="vertical-align:middle;">{{@index}}</td>
                                                    <td style="vertical-align:middle;"> {{Provincia}}</td>
                                                    <td style="vertical-align:middle;">
                                                        <a href="/users/edit/{{idProvincia}}" class="btn btn-primary">
                                                            <i class="fas fa-fw fa-edit"></i>
                                                        </a>
                                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                            data-target="#alert"
                                                            data-id="/users/delete/{{idProvincia}}">
                                                            <i class="fas fa-fw fa-trash-alt"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                            </div>
                        </span>
                        <!-- DataTables Example -->
                        <span class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fas fa-table"></i>
                                    Lista de Cantones
                                    <a class="btn btn-success float-right" data-toggle="modal" data-target="#canton"
                                        href="#">
                                        Ingresar Canton
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable1" width="100%"
                                            cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Provincia</th>
                                                    <th>Canton</th>
                                                    <th>Tareas</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Provincia</th>
                                                    <th>Canton</th>
                                                    <th>Tareas</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {{#each cantones}}
                                                <tr>
                                                    <td style="vertical-align:middle;">1</td>
                                                    <td style="vertical-align:middle;"> {{Provincia}}</td>
                                                    <td style="vertical-align:middle;"> {{Canton}}</td>
                                                    <td style="vertical-align:middle;">
                                                        <a href="/users/edit/{{idPersonal}}" class="btn btn-primary">
                                                            <i class="fas fa-fw fa-edit"></i>
                                                        </a>
                                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                            data-target="#alert" data-id="/users/delete/{{idPersonal}}">
                                                            <i class="fas fa-fw fa-trash-alt"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</main1>
<!-- Modal New Province-->
<form action="/provinces/add" method="POST">
    <div class="modal fade" id="province" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Ingrese nueva Provincia</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <input class="form-control" type="text" name="Provincia" placeholder="Provincia" autofocus>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal New Camton-->
<form action="/cantones/add" method="POST">
    <div class="modal fade" id="canton" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Ingrese nuevo Canton</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Provincia">Provincia: </label>
                        <select name="idProvincia" id="" class="btn btn-light col-md-6">
                            {{#each provinces}}
                            <option value="{{idProvincia}}">{{Provincia}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="Canton" placeholder="Cantón" autofocus>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary">
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>