<main1 id="page-top">
    <div id="wrapper">
        {{> sidebar}}
        <div id="content-wrapper">
            <div class="container-fluid">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Panel</a></li>
                    <li class="breadcrumb-item">Ubicaciones</li>
                </ol>

                {{> messaje}}
                <div id="lista-usuarios"></div>
                <!-- DataTables Example -->
                <div class="container">
                    <div class="row">
                        <span class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fas fa-table"></i>
                                    Lista de Provincias
                                    <a class="btn btn-success float-right" data-toggle="modal" data-target="#province"
                                        href="#">
                                        Ingresar Provincia
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Provincia</th>
                                                    <th>Tareas</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Provincia</th>
                                                    <th>Tareas</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {{#each provinces}}
                                                <tr>
                                                    <td style="vertical-align:middle;">{{@index}}</td>
                                                    <td style="vertical-align:middle;"> {{Provincia}}</td>
                                                    <td style="vertical-align:middle;">
                                                        <a href="/provinces/edit/{{idProvincia}}"
                                                            class="btn btn-primary">
                                                            <i class="fas fa-fw fa-edit"></i>
                                                        </a>
                                                        {{!-- <button class="btn btn-primary" onclick="editProvince({{idProvincia}})" id="btEditarP" data-id="{{idProvincia}}">
                                                            <i class="fas fa-fw fa-edit"></i>
                                                        </button> --}}
                                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                            data-target="#alert"
                                                            data-id="/provinces/delete/{{idProvincia}}">
                                                            <i class="fas fa-fw fa-trash-alt"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                            </div>
                        </span>
                        <!-- DataTables Example -->
                        <span class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fas fa-table"></i>
                                    Lista de Cantones
                                    <a class="btn btn-success float-right" data-toggle="modal" data-target="#canton"
                                        href="#">
                                        Ingresar Canton
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable1" width="100%"
                                            cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Provincia</th>
                                                    <th>Canton</th>
                                                    <th>Tareas</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Provincia</th>
                                                    <th>Canton</th>
                                                    <th>Tareas</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {{#each cantones}}
                                                <tr>
                                                    <td style="vertical-align:middle;">{{math @index "+" 1}}</td>
                                                    <td style="vertical-align:middle;"> {{Provincia}}</td>
                                                    <td style="vertical-align:middle;"> {{Canton}}</td>
                                                    <td style="vertical-align:middle;">
                                                        <a href="/cantones/edit/{{idCanton}}" class="btn btn-primary">
                                                            <i class="fas fa-fw fa-edit"></i>
                                                        </a>
                                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                            data-target="#alert"
                                                            data-id="/cantones/delete/{{idCanton}}">
                                                            <i class="fas fa-fw fa-trash-alt"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                            </div>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <i class="fas fa-table"></i>
                                    Lista de Parroquias
                                    <a class="btn btn-success float-right" data-toggle="modal" data-target="#parish"
                                        href="#">
                                        Ingresar Parroquia
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable2" width="100%"
                                            cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Canton</th>
                                                    <th>Parroquia</th>
                                                    <th>Tareas</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>N°</th>
                                                    <th>Canton</th>
                                                    <th>Parroquia</th>
                                                    <th>Tareas</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {{#each parish}}
                                                <tr>
                                                    <td style="vertical-align:middle;">{{@index}}</td>
                                                    <td style="vertical-align:middle;"> {{Canton}}</td>
                                                    <td style="vertical-align:middle;"> {{Parroquia}}</td>
                                                    <td style="vertical-align:middle;">
                                                        <a href="/provinces/edit/{{idProvincia}}"
                                                            class="btn btn-primary">
                                                            <i class="fas fa-fw fa-edit"></i>
                                                        </a>
                                                        {{!-- <button class="btn btn-primary" onclick="editProvince({{idProvincia}})" id="btEditarP" data-id="{{idProvincia}}">
                                                            <i class="fas fa-fw fa-edit"></i>
                                                        </button> --}}
                                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                            data-target="#alert"
                                                            data-id="/provinces/delete/{{idProvincia}}">
                                                            <i class="fas fa-fw fa-trash-alt"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->
    </div>
</main1>
{{>modalsNew}}